aws_region = "eu-central-1"
domain_name = "msthedeveloper.com"
github_repository = "Sanim16@97568768/msthedeveloper@1358602262"
github_branch = "main"
github_repository_id = "1358602262"
price_class = "PriceClass_100"
